<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path "banner_photo.png" %>);">
  <div class="container">
    <h1>Changer le monde à coups de pintes !</h1>
  </div>
</div>
