<div class="banner" style="background-image: url(<%= asset_path "banner_photo_old_optimized.jpg" %>);">
  <div class="personalized-container">
    <div id="white">Pour changer le monde,</div>
    <div id="green">C'EST ICI !</div>
  </div>
</div>
