<div class="personalized-container footer">
  <div class="footer-links">
    Suivez l'actualité de GASPER :
    <a href="https://www.facebook.com/Gasper.Biere/" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://www.instagram.com/gasper.biere/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.linkedin.com/company/gasper-biere/" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-contact">
    Contact : hugo@gasper.fr
  </div>
</div>
